<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>※</string>
		<key>shortcut</key>
		<string>ㅁ참고</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★</string>
		<key>shortcut</key>
		<string>ㅁ별</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☆</string>
		<key>shortcut</key>
		<string>ㅁ빈별</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♥</string>
		<key>shortcut</key>
		<string>ㅁ하트</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡</string>
		<key>shortcut</key>
		<string>ㅁ빈하트</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✓</string>
		<key>shortcut</key>
		<string>ㅁ체크</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>ㅁ오른</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>●</string>
		<key>shortcut</key>
		<string>ㅁ원</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>ㅁ빈원</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>ㅁ왼</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>ㅁ위</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>ㅁ아래</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↔</string>
		<key>shortcut</key>
		<string>ㅁ양쪽</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>ㅁ겹우</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>■</string>
		<key>shortcut</key>
		<string>ㅁ네모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>□</string>
		<key>shortcut</key>
		<string>ㅁ빈네모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◎</string>
		<key>shortcut</key>
		<string>ㅁ겹원</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▲</string>
		<key>shortcut</key>
		<string>ㅁ세모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>△</string>
		<key>shortcut</key>
		<string>ㅁ빈세모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▼</string>
		<key>shortcut</key>
		<string>ㅁ역세모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◆</string>
		<key>shortcut</key>
		<string>ㅁ마름모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◇</string>
		<key>shortcut</key>
		<string>ㅁ빈마름모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▶</string>
		<key>shortcut</key>
		<string>ㅁ우삼각</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☞</string>
		<key>shortcut</key>
		<string>ㅁ우손</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☎</string>
		<key>shortcut</key>
		<string>ㅁ전화</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♪</string>
		<key>shortcut</key>
		<string>ㅁ음표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♬</string>
		<key>shortcut</key>
		<string>ㅁ겹음표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▽</string>
		<key>shortcut</key>
		<string>ㅁ빈역세모</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↗</string>
		<key>shortcut</key>
		<string>ㅁ우상</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↘</string>
		<key>shortcut</key>
		<string>ㅁ우하</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℃</string>
		<key>shortcut</key>
		<string>ㅁ섭씨</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>ㅁ곱</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>①</string>
		<key>shortcut</key>
		<string>ㅁ1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>②</string>
		<key>shortcut</key>
		<string>ㅁ2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>③</string>
		<key>shortcut</key>
		<string>ㅁ3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>④</string>
		<key>shortcut</key>
		<string>ㅁ4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑤</string>
		<key>shortcut</key>
		<string>ㅁ5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㈜</string>
		<key>shortcut</key>
		<string>ㅁ주식</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎡</string>
		<key>shortcut</key>
		<string>ㅁ제곱미터</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>ㅁ각도</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>©</string>
		<key>shortcut</key>
		<string>ㅁ저작권</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>±</string>
		<key>shortcut</key>
		<string>ㅁ플마</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>÷</string>
		<key>shortcut</key>
		<string>ㅁ나누기</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≒</string>
		<key>shortcut</key>
		<string>ㅁ약</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>ㅁ다름</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>ㅁ이상</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>ㅁ이하</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>ㅁ제곱</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>ㅁ세제곱</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎏</string>
		<key>shortcut</key>
		<string>ㅁ킬로그램</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎜</string>
		<key>shortcut</key>
		<string>ㅁ밀리미터</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎝</string>
		<key>shortcut</key>
		<string>ㅁ센티</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎞</string>
		<key>shortcut</key>
		<string>ㅁ킬로미터</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℓ</string>
		<key>shortcut</key>
		<string>ㅁ리터</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎖</string>
		<key>shortcut</key>
		<string>ㅁ밀리리터</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎥</string>
		<key>shortcut</key>
		<string>ㅁ세제곱미터</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㎥</string>
		<key>shortcut</key>
		<string>ㅁ루베</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>€</string>
		<key>shortcut</key>
		<string>ㅁ유로</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑥</string>
		<key>shortcut</key>
		<string>ㅁ6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑦</string>
		<key>shortcut</key>
		<string>ㅁ7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑧</string>
		<key>shortcut</key>
		<string>ㅁ8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑨</string>
		<key>shortcut</key>
		<string>ㅁ9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⑩</string>
		<key>shortcut</key>
		<string>ㅁ10</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㉠</string>
		<key>shortcut</key>
		<string>ㅁ원ㄱ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㉡</string>
		<key>shortcut</key>
		<string>ㅁ원ㄴ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㉢</string>
		<key>shortcut</key>
		<string>ㅁ원ㄷ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㉣</string>
		<key>shortcut</key>
		<string>ㅁ원ㄹ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㉤</string>
		<key>shortcut</key>
		<string>ㅁ원ㅁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ⅰ</string>
		<key>shortcut</key>
		<string>ㅁ로마1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ⅱ</string>
		<key>shortcut</key>
		<string>ㅁ로마2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ⅲ</string>
		<key>shortcut</key>
		<string>ㅁ로마3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ⅳ</string>
		<key>shortcut</key>
		<string>ㅁ로마4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ⅴ</string>
		<key>shortcut</key>
		<string>ㅁ로마5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>™</string>
		<key>shortcut</key>
		<string>ㅁ상표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>®</string>
		<key>shortcut</key>
		<string>ㅁ등록상표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>「」</string>
		<key>shortcut</key>
		<string>ㅁ낫표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>·</string>
		<key>shortcut</key>
		<string>ㅁ점</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>…</string>
		<key>shortcut</key>
		<string>ㅁ줄임</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>ㅁ커맨드</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>•</string>
		<key>shortcut</key>
		<string>ㅁ불릿</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>『』</string>
		<key>shortcut</key>
		<string>ㅁ겹낫표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>【】</string>
		<key>shortcut</key>
		<string>ㅁ검은괄호</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〈〉</string>
		<key>shortcut</key>
		<string>ㅁ꺾쇠</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>《》</string>
		<key>shortcut</key>
		<string>ㅁ겹꺾쇠</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>—</string>
		<key>shortcut</key>
		<string>ㅁ줄표</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✔</string>
		<key>shortcut</key>
		<string>ㅁ굵은체크</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✗</string>
		<key>shortcut</key>
		<string>ㅁ엑스</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☑</string>
		<key>shortcut</key>
		<string>ㅁ체크박스</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>ㅁ옵션</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>ㅁ시프트</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>ㅁ컨트롤</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▸</string>
		<key>shortcut</key>
		<string>ㅁ토글</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>–</string>
		<key>shortcut</key>
		<string>ㅁ엔대시</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☐</string>
		<key>shortcut</key>
		<string>ㅁ빈박스</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★☆☆☆☆</string>
		<key>shortcut</key>
		<string>ㅁ별점1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★☆☆☆</string>
		<key>shortcut</key>
		<string>ㅁ별점2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★★☆☆</string>
		<key>shortcut</key>
		<string>ㅁ별점3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★★★☆</string>
		<key>shortcut</key>
		<string>ㅁ별점4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★★★★★</string>
		<key>shortcut</key>
		<string>ㅁ별점5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>【이노하이】</string>
		<key>shortcut</key>
		<string>ㅁ이노하이</string>
	</dict>
</array>
</plist>
